<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Wildlife Explorer" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-cuTAHn0BsKdQeYnFq+JtVOS+6TvDx1L2F5e0I1Kk1lRAnYlAXClhCuoS7eJKjR2J" crossorigin="anonymous">
  </head>

  <body>
    <%= render 'shared/navbar' %>
    <div class="container mt-4">
      <%= yield %>
    </div>

    <%= javascript_include_tag "application", "data-turbo-track": "reload" %>
    <!-- Bootstrap JS Bundle (includes Popper) -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+4xZ1qY47gFh81WwDgk26anN8rovo" crossorigin="anonymous"></script>
  </body>
</html>
